Source: python-django
Section: python
Priority: optional
Maintainer: Brett Parker <iDunno@sommitrealweird.co.uk>
Uploaders: Raphael Hertzog <hertzog@debian.org>, Gustavo Noronha Silva <kov@debian.org>, Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5.0.37.2), python-dev, cdbs (>= 0.4.42), python-setuptools (>= 0.6b3), python-support (>= 0.3)
Homepage: http://www.djangoproject.com/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/python-django/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/python-modules/packages/python-django/trunk/?op=log

Package: python-django
Architecture: all
Depends: ${python:Depends}
Recommends: python-pysqlite2
Suggests: python-psycopg2, python-psycopg, python-mysqldb
Priority: optional
Description: A high-level Python Web framework
 Django is a high-level Python Web framework that encourages rapid development
 and clean, pragmatic design.
 .
 Python's equivalent to the famous Ruby on rails, Django lets you build
 high-performing, elegant Web applications quickly. Django focuses on
 automating as much as possible and adhering to the "Don't Repeat
 Yourself" (DRY) principle.
 .
 It notably features:
  * an object-relational mapper
  * an automatic admin interface
  * an elegant URL design
  * a template system
  * a cache system
  * internationalization support
