#!/usr/bin/make -f

DEB_PYTHON_SYSTEM := pysupport

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --single-version-externally-managed

binary-post-install/python-django::
	# Remove python shebang on some files
	perl -pi -e 's|^#!/usr/bin/env python.*$$||' debian/python-django/usr/share/python-support/python-django/django/bin/*.py debian/python-django/usr/share/python-support/python-django/django/conf/project_template/manage.py
	# Rename djando-admin.py to djando-admin
	mv debian/python-django/usr/bin/django-admin.py debian/python-django/usr/bin/django-admin
