#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

PREFIX = debian/python-django
DJANGO_DIR = $(PREFIX)/usr/lib/`pyversions -d`/site-packages/django

%:
	dh $@

build: $(QUILT_STAMPFN)
	dh $@

clean: unpatch
	rm -rf docs/_build/*
	dh $@

override_dh_auto_build:
	dh_auto_build
	# Build HTML documentation, drop source files
	make -C docs html
	rm -rf docs/_build/html/_sources/

override_dh_install:
	dh_install
	
	# Use default shebang
	perl -pi -e 's|^#!/usr/bin/env python.*|#!/usr/bin/python|' $(DJANGO_DIR)/conf/project_template/manage.py
	
	# Move scripts to /usr/lib/python-django
	mkdir -p $(PREFIX)/usr/lib/python-django
	mv $(DJANGO_DIR)/bin $(PREFIX)/usr/lib/python-django
	
	# Fix permissions
	chmod 644 $(PREFIX)/etc/bash_completion.d/django_bash_completion
	find $(PREFIX)/usr/lib/python-django/bin/ -name '*.py' -not -name '__init__.py' -print0 | xargs -0r chmod 755
	
	# Rename django-admin.py to django-admin
	mv $(PREFIX)/usr/bin/django-admin.py $(PREFIX)/usr/bin/django-admin

override_dh_installdocs:
	dh_installdocs
	# Remove embedded copy of libjs-jquery
	cd debian/python-django-doc/usr/share/doc/python-django-doc/html/_static \
		&& rm jquery.js \
		&& ln -s ../../../../javascript/jquery/jquery.js .

override_dh_compress:
	dh_compress -X.js
